<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BIT COIN PRICE ALERT</title>
</head>
      <body style="background-color:lightblue;">

        <br />
        <h3 style="text-align: center">
            PRICE ALERT PROJECT
        </h3>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h1 style="text-align: center">
          PROVIDES CONSTANT WATCH ON BITCOIN RATE
          </h1><br>
      <h1 style="text-align: center">JOIN TELEGRAM CHANNEL TO GET FREE PRICE ALERTS</h1>
      <h2 style="text-align: center"><a href="https://t.me/BitCoin_PriceAlert">Click to Join</a></h2>
      <div>
          <embed type="image/svg+xml" src={{ barchat_data }} style="width:50%,height:50%">
      </div>
    </body>
</html>